@use "variables" as *;
@use "mixins" as *;

@keyframes rotateInCard {
  from {
    @include rotate-3d(40deg);
    opacity: 0.7;
  }
  to {
    @include rotate-3d(0deg);
    opacity: 1;
  }
}

.rotate-in {
  animation: rotateInCard $card-animation-duration $card-animation-easing;
  transform-origin: center;
}

@keyframes flipCard {
  0% {
    @include rotate-3d(0deg);
  }
  50% {
    @include rotate-3d(90deg);
  }
  100% {
    @include rotate-3d(0deg);
  }
}

.card-flip {
  animation: flipCard $card-animation-duration $card-animation-easing;
}
